{% extends 'base.html.twig' %}
{% block title %}Nos magnifiques annonces!
{% endblock %}

{% block body %}
{% include '/partials/header.html.twig' %}
<div class='container'>
	<h1 class='my-3'>
		Voici les articles !
	</h1>


<div class="row">
		{% for art in articles %}
		{% set url = 0 %}
			<div class="col-md-4">
				<div class="hauteurCard card bg-light mb-3">
					<div class="card-header text-center">
						
						<strong>{{art.prix}}&euro;</strong>
						<br>
						<small>Pas encore noté</small>
					</div>
					<a href="{{path('article_id',{'id' : art.id })}}"> 
					<img src="{{ art.image }}" alt="Image de l'apparement" style="height:200px; width:100%;display:block"></a>
					 </a> 
					<div class="card-body">
						<h4 class="card-title">
						<a href="{{path('article_id',{'id' : art.id })}}"> 
							{{ art.libelleArticle}} 
							 </a> 
						</h4>
						<p class="card-text">
                            {{art.description}}						
                        </p>
						 <a href="{{path('article_id',{'id' : art.id })}}" class"btn btn-secondary float-right">En savoir plus</a> 

					</div>
				</div>
			</div>
		{% endfor %}
</div>


	

	</div>
{% endblock %}
